# Latex

*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc

# C++ / CMake
**/build
.idea
cmake-build-debug
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# misc
.directory
